<h1 class="header bold">Intro</h1>

<p>Some say I'm the greatest streamer. Others call me a gaming legend. Still others say I play too much TF2. And they're
  all exactly right.</p>
<p>I'm crisp, the real and true gamer. I'm here to vibe and have a good time with my favorite gamers. Join me as I play
  through a variety of classic and modern games.</p>

<h1 class="header bold">History</h1>

<p>I was first introduced to gaming with the legendary NES, followed shortly thereafter with the N64 and GameBoy
  Advance. I remember playing
  a ton of Super Mario 64, Ocarina of Time, and the original Smash Bros., as well as Super Mario Advance 4 and Superstar
  Saga when I had at least two minutes to spare in the car.</p>
<p>My favorite console was hands-down the GameCube. I spent most of my time on this console, thus it has some of my
  favorite titles: Paper Mario: The Thousand-Year Door, Wind Waker, and Double Dash, just to name a
  few. The day my brother and I got Melee is still a distinct memory in my mind.</p>
<p>Of course, consoles weren't my only exposure to gaming. Flash games were a big pastime of mine and I spent hours
  playing them, both at home on our wicked-fast dial-up connection as well as at school. The massively popular games
  Raze and Strike Force Heroes by Sky9 Games
  were some of my favorite titles.</p>
<p>While on the Sky9 community forums, I was introduced to Team Fortress 2 which brought me into the world of true PC
  gaming. This was the first game I ever played on Steam, and shortly thereafter I got my hands on Portal and Half-Life
  2. I also remember picking up Minecraft at a Walmart and spending my first night in my pristine dirt hut. One thing
  led to another, and now I've played quite a number of PC games.
</p>
<p>Like most gamers, I have a huge backlog of games to finish. There's even games from my childhood that I have never
  seen to the end. I plan to change that.</p>

<h1 class="header bold">Current-Day</h1>

<p>Nowadays I spend most of my time working as a software developer. I love building little apps and websites (like this
  one!) You can check out some of my projects on my GitHub.</p>
<p>When I'm not working, you can find me chillin in my mancave playing a game or working on a side project. You might
  also catch me at my local game store checking our their retro game selections.</p>
