@import '../../../variables.scss';

.desktop-navigation {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      position: absolute;
      top: 50px;
      width: 100px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;

      li {
        margin: 2rem 0;

        a {
          padding: 1rem $navigation-padding-width;
          text-decoration: none;
          color: #707070;
          cursor: pointer;

          @media screen and (min-width: $desktop-lg) {
            padding: 1rem $navigation-padding-width-lg;
          }

          &:hover {
            color: #aaaaaa;
          }

          &:active {
            color: #888888;
          }

          &.menu-active {
            color: white;
          }
        }
      }
    }
  }
}
