@import '../../variables';

.bold {
  font-weight: bold;
}

.content {
  display: flex;

  @media screen and (min-width: $desktop) {
    .column {
      display: flex;
      box-sizing: border-box;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media screen and (min-width: $desktop) {
  .navigation {
    border-right: 1px solid white;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

.main-column {
  flex: 1 1;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    @media screen and (min-width: $desktop) {
      display: block;
      padding: 0;
      margin-top: $column-padding;
      margin-left: $column-padding;
    }

    @media screen and (min-width: $desktop-lg) {
      margin-top: $column-padding-lg;
      margin-left: $column-padding-lg;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .logo {
    display: block;
    width: 100px;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .crisp {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
    }
  }

  .socials {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    justify-content: start;
    margin-bottom: 10px;

    @media screen and (min-width: $desktop) {
      margin-left: 30px;
      margin-bottom: 0;
    }

    .ng-fa-icon {
      color: red;

      cursor: pointer;

      &:hover {
        color: lighten($color: red, $amount: 30);
      }

      &:active {
        color: white;
      }
    }
  }

  .description {
    font-weight: 500;
    color: #bbbbbb;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $desktop) {
      text-align: left;
      margin-top: 10px;
    }
  }
}

.media {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: repeat(auto-fill, 90vw);

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(auto-fill, 600px);
  }

  .media-section {
    display: flex;
    flex-direction: column;
  }
}
